<%- include('partials/header.ejs') %>

<h1 class="planet" style="color: #0077be"> Earth </h1> 
<hr />

<div class="planetInfo"> 
The Earth is the third planet from the sun. It is still the only known planet 
in the universe to have liquid water on its surface. However, Jupiter's moons Europa and Enceladus also have 
water below a crust of ice. 

The Earth also possesses an atmosphere of oxygen, nitrogen, carbon dioxide, and other compounds, and is 
is the only known planet in a solar system's habitable zone to also have water and oxygen. 
<br />

The Earth has a mass of approximately 5.972 × 10^24 kg. Its internal core is believed to be 1,200 degrees F, hotter than the surface of the sun. 
<br />
The native inhabitants of the Earth believe it to be a planet that supports intelligent life. 

</div>

<div class="planetPicture">
<img src="/img/earth.jpg" alt="Earth">
</div>

<%- include('partials/footer.ejs') %>