<!-- Additional References: 
https://i.pinimg.com/originals/a0/af/26/a0af26ee67b8bf696c3001bfc2416831.jpg
https://www.space.com/54-earth-history-composition-and-atmosphere.html
https://oceanservice.noaa.gov/facts/et-oceans.html
https://astronomy.com/~/media/695FA0F9A01044BF9C50E86C8E53A4E0.jpg
https://nineplanets.org/venus/
https://space-facts.com/mercury/
-->


<%- include('partials/header.ejs') %>
<div class="planetPicture">
     <img src="/img/solar_system.png" alt="The Solar System" />
</div>
<%- include('partials/footer.ejs') %>