<%- include('partials/header.ejs') %>

<h1 class="planet" style="color: #d5d2d1"> Mercury </h1> 
<div class="planetInfo">
    <hr />
<p id="planetInfo">
• Mercury is the closest planet to the sun.  
<br />
• A year on Mercury is only 88 Earth days long, due to its proximity to the sun and smaller orbit. However, Mercury turns slowly, with a full day on Mercury lasting
176 Earth days. Mercury's day is longer than its year. 
<br/>
• Although the closest planet to the sun, Mercury is the second-hottest 
planet in the solar system, with Venus being hotter due its atmosphere. 
<br />
• Mercury's gravity is 38% that of Earth's gravity, which is too weak to hold a dense atmosphere. Mercury's atmosphere is mostly blown away by solar winds (charged particles flowing from the sun),
but Mercury does have a thin atmosphere. Though Mercury is close to the sun, its surface is still relatively cool enough to be solid.  
<br/>

</p>
<img src="/img/mercury.jpg">
</div>
<%- include('partials/footer.ejs') %>