<%- include('partials/header.ejs') %>

<h1 class="planet" style="color: #7aa09f"> Venus </h1> 
<div class="planetInfo">
    <hr />
<p id="planetInfo">
• Venus is the second planet from the sun, with only Mercury being closer. Venus is the brightest object 
in Earth's sky after the sun and moon, and for this reason it was named after the Roman goddess of love. 
<br />
• Its climate is anything but welcoming, however. Its surface is 900 degrees F, hot enough to melt 
some metals. Its atmosphere is mostly carbon dioxide and has a mass more than 90x greater than the mass 
of Earth's atmosphere. The pressure of the atmosphere is similar to the pressure at 1 kilometer beneath Earth's ocean.
<br />
• More than 40 spacecraft from the Earth have traveled to Venus.
    
</p>
<img src="/img/venus.jpg">
</div>
<%- include('partials/footer.ejs') %>